<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label>Batch</label>
          <select class="form-control" (change)="setBatch($event.target.value)">
            <option>Select Batch</option>
            <option *ngFor="let batch of batchs" value="{{ batch }}">{{
              batch
            }}</option>
          </select>
          <label>Semester</label>
          <select class="form-control" (change)="setSem($event.target.value)">
            <option>Select Sem</option>
            <option *ngFor="let sem of sems" value="{{ sem }}">{{
              sem
            }}</option>
          </select>
          <label>Section</label>
          <select class="form-control" (change)="setSec($event.target.value)">
            <option>Select Sec(Optional)</option>
            <option *ngFor="let sec of secs" value="{{ sec }}">{{
              sec
            }}</option>
          </select>
          <label>Subjects</label>
          <select class="form-control" (change)="setSub($event.target.value)">
            <option>Select Subject</option>
            <option *ngFor="let sub of subs" value="{{ sub }}">{{
              sub
            }}</option>
          </select>
        </div>
        <button class="btn btn-large" (click)="api()">Submit</button>
        <button class="btn btn-large" (click)="exportAsExcel()" *ngIf="fcdgraph2">Export</button>
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Toppers</h4>
            <p class="card-category">Toppers of the batch</p>
          </div>
          <div class="card-body table-responsive">
            <app-fcd-table></app-fcd-table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <canvas id="myChart"></canvas>
        <div *ngIf="chart">
            <canvas #fcdgraph2 id="fcdgraph2">{{fcdgraph2}}</canvas>
            <br><br>
        </div>
        <canvas id="myChart"></canvas>
        <div *ngIf="chart1">
          <canvas #canvas2 id="canvas2">{{ canvas2 }}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>
